body,html{
    height:100%;
}
body{
    background:#f3f3f3;
}

body > div.container{    
    background:white;
    padding:0px;        
}
body > .container > section{
    padding:0;
}
section > div > article{
    
}

h1{
    font-size:30px;
    font-weight:bold;
    color:#ff9023;
}

h1.titulo{
    
}
a{
    color:#535353;
}
a:hover{
    text-decoration:none;
    color:black;
}

header .navbar-default {
    background-color: #ff9023;
    border-color: #ff9023;
    border-radius: 0;
    margin: 0;
}

header .navbar-default .navbar-nav > li > a {
    color: white;
}
header .navbar-brand{
    color:white;
}
.carousel-caption {
    background: #ff9023;
    bottom: 0;
    color: white;
    font-size: 20px;
    height: 100px;
    left: 0;
    padding-bottom: 30px;
    right: 0%;
    text-shadow: 1px 1px 1px #000000;
    width: 100%;
}
.row{
    margin-left:0px;
    margin-right:0px;
}
.row > .row{
    border-bottom: 1px dashed #D3D3D3;
    margin: 0;
    padding: 10px 0;
}

.row > .row:first-child{
    border-bottom: 0px !important;
    padding-bottom: 10px !important;
}

.chatnav{
    position:fixed;
    right:0px;
    bottom:0px;             
}
.chatnav div{
    background:lightblue; 
    padding: 10px 20px;
    display:inline-block;
    margin:0 10px;
}
.chatnav .contact{
    background:lightgreen;
}
.chatnav i{
     font-size:20px;
}
/****************** Footer ********************/

footer li{
    list-style:none;
}

.modal-dialog {
    width: 800px;
}

.navbar-brand {    
    padding: 0 15px;
}

/************** zozo tabs **************************/
.z-container {
    background: none repeat scroll 0 0 transparent !important;    
}

.z-tabs.silver > ul > li.z-active > a {
    background:#ff9023 !important;
    color:white;
}

.z-tabs.vertical.top-left > ul {
    border-right: 10px solid #ff9023 !important;
}

.z-tabs.vertical.z-shadows > ul, .z-tabs.vertical.z-shadows > .z-container {
    border:none;
}

.z-tabs.vertical.z-shadows > ul, .z-tabs.vertical.z-shadows > .z-container {
    box-shadow:none;
}
.botonera{
    background:#ff9023 !important;
    margin-bottom:10px;
}
.botonera .well{
    background:#ff9023 !important;
    border: none;
    border-radius: 0;
    margin:0px;
}
.botonera .well a{
    color:white;
}

@media screen and (min-width: 768px) {
    .col-sm-2{
        width:20%;
    }
}

footer{
    background:#d34300;
    margin-top:40px;
    color:white;
}

footer a{
    color:white;
}

.z-tabs.vertical.z-shadows > ul, .z-tabs.vertical.z-shadows > .z-container {
    box-shadow:none !important;
}


/********************** ACE PLUGIN ********************/
.navbar {
    background: #ff9023 none repeat scroll 0 0;
    border-radius: 0;
    border-width: 0;
    box-shadow: none;
    margin: 0;
    min-height: 45px;
    padding-left: 0;
    padding-right: 0;
}

.ace-nav > li.light-blue > a {
    background-color: #d34300;
}

.ace-nav > li.light-blue > a:hover, .ace-nav > li.light-blue > a:focus, .ace-nav > li.open.light-blue > a {
    background-color: #ff9023;
}


.sidebar .sidebar-toggle::before {
    border:0px;
}
