
.navbar-default,footer {
    background-color: #f8931d;
    border-color: none;
    background-image:linear-gradient(to top, #FFFFFF -80%, #F8931D);
    text-align:center;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand 
{
    color:white;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus,.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus 
{
    background-color: #aa6b22;
    color: white;
}

.navbar-default .navbar-nav > .dropdown > a .caret, .navbar-default .navbar-nav > .dropdown > a:hover .caret, .navbar-default .navbar-nav > .dropdown > a:focus .caret  {
    border-bottom-color: white;
    border-top-color: white;
}

.navbar-nav > li > .dropdown-menu {
    width: 100%;
     background-color: #f8931d;
     color:white;
}

.navbar-nav > li.dropdown:hover > .dropdown-menu{display:block}

.dividir{
    border-bottom:2px solid #f8931d;
    margin-bottom:20px;
}
.precio
{
    color:red;
}

footer{
    text-align:center;
    margin-top:20px;
}
footer a{
    color:white;
    margin-top:30px;
}
